{% extends "cape_shell.html" %}
{% load staticfiles %}

{% block head-css %}
<style>
  {% block head-css-imports %}{% endblock %}
  
  body {
    color: black;
    background: #f8f8f8;
    max-width: 680px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
  }
  body, code, #preview em {
    font-family: Avenir, Helmet, Freesans, sans-serif;
  }
  footer h2, h2 b, #preview b {
    position: absolute;
    left: -999em;
  }
  a {
    color: #d85055;
    text-decoration: none;
  }
  a:focus, a:hover {
    color: #f8f8f8;
    background: #d85055;
  }
  
  h1, h2 {
    font-weight: 300;
    text-transform: uppercase;
  }
  h1 {
    margin-bottom: 2em;
  }
  h2 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  h1 span {
    padding-bottom: 0.4em;
    border-bottom: 4px double #afafaf;
  }
  h2 span {
    padding-bottom: 0.4em;
    border-bottom: 1px solid #afafaf;
  }
  
  h1 a {
    color: black;
    padding-left: 20px;
    position: relative;
  }
  h1 a:before {
    position: absolute;
    content: "⟪";
    top: 6px;
    left: 0;
    font-size: 0.6em;
    color: #d85055;
  }
  h1 a:focus:before, h1 a:hover:before {
    color: white;
  }
  
  .home li {
    list-style: inside square;
    font-size: 0.66666em;
    margin-bottom: 0.5em;
  }
  .home li a {
    font-size: 1.5em;
  }
  dt {
    display: block;
  }
  dt span { 
    display: inline;
    background-color: #ffc3c3;
    padding: 0 4px;
  }
  dd {
    margin-bottom: 1.5em;
  }
  footer {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 4em;
    margin-bottom: 4em;
  }
  footer span {
    display: block;
    width: 200px;
    height: 6px;
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    margin: 0 auto 4em;
  }
  
  #preview {
    text-align: left;
  }
  #preview li {
    list-style: none;
    word-spacing: 0.4em;
    border-bottom: 1px solid #ffb0b0;
    padding: 20px 0 20px 80px;
    position: relative;
  }
  #preview em {
    text-align: center;
    font-style: normal;
    font-size: 16px;
    width: 50px;
    left: 0;
    top: 20px;
    line-height: 1.5;
    display: block;
    position: absolute;
    float: left;
  }
  #preview .key em {
    background: #ff6066;
  }
  
  {% block head-css-fontblocks %}{% endblock %}
</style>
{% endblock %}

{% block body-sheath %}
  <div class='content'>
    {% block content %}{% endblock %}
  </div>
{% endblock %}
