{% extends "cape_shell.html" %}
{% load staticfiles %}

{% block head-css %}
<style>
  {% block head-css-imports %}{% endblock %}
  
  body {
    color: black;
    background: white;
    font-family: Helmet, Freesans, sans-serif;
    line-height: 1.4;
  }

  body.home .jamessense {
    max-width: 800px;
    margin: 0 20px;
    padding: 3px;
    line-height: 1.6;
    font-size: 18px;
  }
  body.home .jamessense p, body.home .jamessense ul {
    padding-left: 60px;
  }
  body.home .jamessense code {
    background-color: #eee;
  }
  body.home .jamessense kbd {
    border: 1px solid #262;
    color: #262;
    background-color: #efe;
    padding: 0 2px;
  }
  h1 a {
    color: inherit;
  }
  h1 a:before {
    float: left;
    display: block;
    margin-right: 8px;
    content: "\261c";
  }
  
  #preview {
    margin: 0 20px;
    padding: 0;
  }
  #preview em {
    color: red;
    display: block;
    float: left;
    font: 12px normal Helmet, Freesans, sans-serif;
    line-height: 1;
    margin: -1px 0 0 -60px;
    min-width: 30px;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
  }
  #preview b {
    position: absolute;
    left: -999em;
  }
  #preview li {
    background: #f8f8f8;
    border-bottom: 1px solid red;
    line-height: 2;
    list-style: none;
    margin: 0;
    min-height: 20px;
    padding: 0 0 0 60px;
    vertical-align: baseline;
    white-space: nowrap;
  }
  #preview li.key em {
    background: red;
    color: white;
  }
  
  {% block head-css-fontblocks %}{% endblock %}
</style>
{% endblock %}

{% block body-sheath %}
  <div class='content'>
    {% block content %}{% endblock %}
  </div>
{% endblock %}
