{% extends "base.html" %}

{% block title %}Displaying {{ font }}{% endblock %}

{% block head-css %}
<style>
{# FIXME: webfonts #}
body {
  font-family: {{ font }};
}
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.key { font-weight: bold; }
</style>
{% endblock %}

{% block content %}
  <h1>{{ font }}</h1>

  <ol>
    {% for size in sizes reversed %}
      <li{% if size.is_key %} class='key'{% endif %} style='font-size: {{ size.pixels }}px'><em>{{ size.pixels }}px<i> looks like </i></em>{% if text %}{{ text|linebreaks }}{% else %}AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz1234567890.,;()&pound;&amp;&sect;&ldquo;&rdquo;&lsquo;&rsquo;?!{% endif %}</li>
    {% endfor %}
  </ol>
{% endblock %}
