{% extends "base.html" %}

{% block title %}Displaying {{ font }}{% endblock %}

{% block font-head-css %}
  {# FIXME: webfonts #}
  {% for webfont in webfonts.values %}
  @font-face {
    font-family: {{ webfont.name }};
    src:
  {% for source in webfont.sources %}
  url('{{ source.url }}') format('{{ source.format }}'){% if forloop.last %};{% else %},{% endif %}
  {% endfor %}
  }
  {{ webfont.css }}
  {% endfor %}
  #preview {
    font-family: {{font}};
  }
{% endblock %}

{% block content %}
  <h1>{{ font }}</h1>

  <ol id='preview'>
    {% for size in sizes reversed %}
      <li{% if size.is_key %} class='key'{% endif %} style='font-size: {{ size.pixels }}px'><em>{{ size.pixels }}px<b> looks like </b></em><span>{% if text %}{{ text|linebreaks }}{% else %}AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz1234567890.,;()&pound;&amp;&sect;&ldquo;&rdquo;&lsquo;&rsquo;?!{% endif %}</span></li>
    {% endfor %}
  </ol>
{% endblock %}
