{% extends "base.html" %}
{% load csshelpers %}

{% block title %}Displaying {{ font }}{% endblock %}

{% block head-css-imports %}
  {% for webfont in webfonts.values %}
    {% if webfont.google %}
      @import url(https://fonts.googleapis.com/css?family={{ webfont.name|googleencode }}:{{ webfont.sizes|googleencode }});
    {% endif %}
  {% endfor %}
{% endblock %}
{% block head-css-fontblocks %}
  {# FIXME: webfonts #}
  {% for webfont in webfonts.values %}
    {% if not webfont.google %}
      @font-face {
        font-family: '{{ webfont.name|cssescape }}';
        src:
          {% for source in webfont.sources %}
            url('{{ source.url|cssescape }}') format('{{ source.format|cssescape }}'){% if forloop.last %};{% else %},{% endif %}
          {% endfor %}
      }
    {% endif %}
  {% endfor %}
  #preview {
    font-family: '{{font|cssescape}}';
  }
{% endblock %}

{% block content %}
  <h1>{{ font }}</h1>

  <ol id='preview'>
    {% for size in sizes reversed %}
      <li{% if size.is_key %} class='key'{% endif %} style='font-size: {{ size.pixels }}px'><em>{{ size.pixels }}px<b> looks like </b></em><span>{% if text %}{{ text|linebreaks }}{% else %}AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz1234567890.,;()&pound;&amp;&sect;&ldquo;&rdquo;&lsquo;&rsquo;?!{% endif %}</span></li>
    {% endfor %}
  </ol>
{% endblock %}
