{% extends "base.html" %}

{% block title %}Check Your Font{% endblock %}

{% block body-class %}home{% endblock %}

{% block content %}
  <h1><span>Check Your Font</span></h1>
  <!-- Check your font before you wreck your font -->

  <p>Fonts are ornery beasts, different in different browsers, on different platforms and at different sizes. It's a good idea to check that the family and size you want is legible on all browser-platform combinations you care about; there can be all sorts of problems hiding in the details.</p>

  <h2><span>Show me</span></h2>

  <p>To get started, check out some of these font checks:</p>

  <ul>
    <li><a href='/Helvetica'>Helvetica at default font sizes</a></li>
    <li><a href='/Courier;sizes=14,16,18,20'>Courier at 14, 16, 18 and 20 pixels</a></li>
    <li><a href='/Verdana;sizes=20,30;sizes.key=20'>Verdana and 20 and 30 pixels, highlighting the 20 pixel version</a></li>
    <li><a href='/Georgia;text'>Georgia showing <em>lorem ipsum</em> instead of an alphabetic display</a></li>
    <li><a href='/Arvo;font.Arvo=google/700'>Arvo from <em>Google Fonts</em></a></li>
  </ul>

  <h2><span>How do I use it?</span></h2>

  <p><em>Check Your Font</em> allows you to construct a URL to control a number of aspects of font selection. You start with the font family, so if you want to use <em>MyFont</em> use <a href='/MyFont'><code>{{ baseurl }}MyFont</code></a>. If you need to use spaces in a font name, just replace them with a plus sign (<code>+</code>), such as <a href='/Courier+New'><code>{{ baseurl }}Courier+New</code></a>.</p>

  <p>Everything else you tack on after that, separating different controls using a semicolon (<code>;</code>). Try one or more of the following:</p>

  <dl>
    <dt><span><code>;sizes=</code></span></dt>
    <dd>allows you to give a comma-separated list of pixel font sizes, such as <a href='/Courier;sizes=14,16,18,20'><code>{{ baseurl }}Courier;sizes=14,16,18,20</code></a> (the default is every size from 10 pixels to 24 pixels)</dd>
    <dt><span><code>;sizes.key=</code></span></dt>
    <dd>allows you to set the 'key' font sizes in the same way, such as <a href='/Verdana;sizes=20,30;sizes.key=20'><code>{{ baseurl }}Verdana;sizes=20,30;sizes.key=20</code></a>&mdash;you can use <code>sizes.key</code> without setting <code>sizes</code> too (the default is 12, 14, 18 and 24 pixels)</dd>
    <dt><span><code>;sizes.max=</code></span></dt>
    <dt><span><code>;sizes.min=</code></span></dt>
    <dd>is a quick way of setting the sizes to use, such as <a href='/Verdana;sizes.min=20;sizes.max=30'><code>{{ baseurl }}Verdana;sizes.min=20;sizes.max=30</code></a></dd>
    <dt><span><code>;text</code></span></dt>
    <dd>switches to display <em>lorem ipsum</em> instead of the alphabet, numbers and common punctuation, such as <a href='/Georgia;text'><code>{{ baseurl }}Georgia;text</code></a></dd>
    
    {% comment %}
    <dt><span><code>;font.<kbd>font-name</kbd>=<kbd>url</kbd></code></span></dt>
    <dd>allows you to load in a webfont from a given URL (currently we only support WOFF)</dd>
    {% endcomment %}
    <dt><span><code>;font.<kbd>font-name</kbd>=google/<kbd>font-weights</kbd></code></span></dt>
    <dd>allows you to load in a font from <a href='http://www.google.com/fonts'>Google Fonts</a>, such as <a href='/Arvo;font.Arvo=google/700'><code>{{ baseurl }}Arvo;font.Arvo=google/700</code></a> (<kbd>font-name</kbd> is the <code>font-family</code> name you passed in the font stack; <kbd>font-weights</kbd> is the list of weights you want to pull from Google)</dd>
  </dl>
  
  <footer>
    <h2>Who is behind this?</h2>

    <p><em>Check Your Font</em> was written by <a href='http://tartarus.org/james/'>James Aylett</a> and <a href='http://marknormanfrancis.com/'>Mark Norman Francis</a> and designed by <a href='http://alexlee.co.uk/'>Alex Lee</a>, and is inspired by a nifty template that <a href='http://markhurrell.com/'>Mark Hurrell</a> showed us at a <a href='http://devfort.com/'>/dev/fort</a>.</p>
  </footer>
{% endblock %}
